{% extends 'main.html' %}
{% load staticfiles %}
{% block video %}
  {% if error_message %}
  <p><strong>{{ error_message }}</strong></p>
  {% endif %}
  {% if video %}
  <div class="col-12 video">
    <iframe width="100%" height="480" src="{{ video.url }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <h3 class="video__title">{{ video.title }}</h3>
    <span class="video__date">{{ video.date }}</span>
    <p class="video__description">{{ video.description }}</p>
    <span id="rating"><a class="oi oi-thumb-up" id="like_video" href="/ajax/like_video/" title="Великолепно! Восхитительно!" aria-hidden="true"></a><a class="oi oi-thumb-down" id="dislike_video" title="Ерунда какая-то!" aria-hidden="true"></a>{{ video.rating }}</span>
  </div>
  {% for comment in comments %}
    <div class="row video__comment">
      <div class="col-1 video__comment__rating">
        <a class="oi oi-chevron-top" title="А он тему говорит!" href="#" aria-hidden="true"></a>
        <p class="video__comment__rating__value">{{ comment.rating }}</p>
        <a class="oi oi-chevron-bottom" title="Да шо ты городишь, Люся?!" href="#" aria-hidden="true"></a>
      </div>
      <div class="col-8 video__comment__content">
        <div class="video__comment__date">
          <span class="video__comment__date">{{ comment.date }}</span>
        </div>
        <div class="video__comment__text">
          <p class="video__comment__text">{{ comment.text }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
    <form class="form video__commentform" action="{% url 'blog:leave_comment' video.id %}" method="POST">
      {% csrf_token %}
      <div class="form-group video__commentform__form">
        {{ form }}
        <small class="form-text text-muted">Добавляя комментарий, переверните календарь.</small>
      </div>
      <input type="submit" class="btn btn-primary video__commentform__btn" value="Добавить">
    </form>
  {% endif %}
{% endblock %}
